#views-done.main.container.views(hidden='hidden')
  .row
    .col-xs-6
      img(style='height: 350px; margin: auto; display: block;', src='../screens/Screen6.jpg')
    .col-xs-6
      h4(style='font-weight: bold;') Success!
      p
        | The installation process from the computer is done. Please follow the instructions on your device after it reboots to complete the setup of Sailfish OS on your device. 
      p
        | Development of the installer is supported by the #[a(onclick="shell.openExternal('https://ubports.com')") UBports Community]. They invite donations to help them continue this work.
      button.btn.btn-default(type='button', style='width: 49%; margin-bottom: 10px; margin-right: 5px', onclick="shell.openExternal('https://ubports.com/join-us')") Get involved 
      button.btn.btn-primary(type='button', style='width: 49%; margin-bottom: 10px;', onclick="shell.openExternal('https://ubports.com/donate')") Donate
      p
        | Got more devices you want to flash?
      button.btn.btn-info(type='button', style='width: 100%;', onclick="ipcRenderer.send('restart');") Flash another device!
  script.
    ipcRenderer.on("user:write:done", () => {
      views.show("done");
      $("#progress").width("0%");
    });
