[Desktop Entry]
Name=sailfish-installer
Comment=Sailfish Installer
Exec=sailfish-installer
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/icon.png
